<h1 style="color:blue;">Ingrese datos</h1>
<br>

<form action="/productos" method="post">

    <div class="form-group">
        <label for="producto"><b>Producto</b></label>
        <input id="producto" class="form-control" type="text" name="title">
    </div>

    <div class="form-group">
        <label for="precio"><b>Precio</b></label>
        <input id="precio" class="form-control" type="number" name="price">
    </div>

    <div class="form-group">
        <label for="foto"><b>Foto</b></label>
        <input id="foto" class="form-control" type="url" name="thumbnail">
    </div>

    <button class="btn btn-success mt-3 mb-5">Enviar</button>
</form>