
    <div class="container mt-3">
        <div class="jumbotron">
           
            {{>formulario}}
        </div>
    

    <div>
        <button>
            <a href="./productos"> HISTORIAL </a>
        </button>
    </div>
    </div>