
    <div class="container mt-3">
        <div class="jumbotron">
                        
            {{>historial}}
        </div>
                
    <button>
        <div>
            <a href="./"> FORMULARIO PRODUCTOS </a>
        </div>
    </button>

    </div>
