extends layout 

block contenido
    div(class="container mt-3")
        div(class="jumbotron")
            include includes/formulario.pug
        

        div
            button
                a(href="./productos") HISTORIAL
    